MONGODB_URI=mongodb+srv://ususario:contraseña@cluster0.6l9lf.mongodb.net/basededatosname?retryWrites=true&w=majority

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=somethingsecret

NEXT_PUBLIC_SERVER_URL=http://localhost:3000

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=mmxubee
CLOUDINARY_API_KEY=597727393716375
CLOUDINARY_API_SECRET=FXBkjWjBfHRnmsCVYHom3YQQ464